.card:hover {
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.6);
  transition: all 0.5s linear;
}

.card-body {
  padding: 2rem 0;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.card-img-top {
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.8);
}
.div-img {
  overflow: hidden;
}
